* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://www.filterforge.com/filters/11550.jpg");
  box-sizing: content-box;
  width: 100%;
}

.btn {
  background-color: rgb (0,0,0);
  border-radius: 5px;
}

.btn-container {
  margin: 15px;
}

.card-container {
  display: flex;
  padding: 50px;
}

.card-content {
  background-color: #757575;
  box-shadow: 10px 10px 10px rgba(238, 91, 91, .5);
  color: white;
}

.card-row {
  flex-direction: column;
  padding: 20px;
}

.card-image {
  width: 250px;
  height: 100%;

}

.card-movie-name,
.card-book-name,
.card-game-name {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 25px;
padding-bottom: 5px;
}

.card-movie-actors,
.card-game-rating {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-top: 5px;
}

.checkbox {
  color: #e57373
}

.container {
  width: 100%;
  margin: 15px;
  /* padding: 0 0 10px 20px; */
}

.fade {
  opacity: 1;
}

.fade:hover {
  opacity: .5;
}

.footer-copyright {
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 27%, rgba(61,61,61,1) 80%, rgba(117,117,117,1) 97%);
  padding: 2px;

}

h6 {
  padding: 10px;
}

.pagefooter {
  margin: 0;
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 27%, rgba(61,61,61,1) 80%, rgba(117,117,117,1) 97%);
  width: 100%;
}

.pageheader {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 28%, rgba(61,61,61,1) 80%, rgba(117,117,117,1) 100%);
}

.page-main {
  height: 100%;
}

select.browser-default {
  display: block;
  width: 160px;

}

.sith {
  height: 150px;
  margin-top: 30px;
}

[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:after {
  background-color: black;
}

[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:before,[type="radio"].with-gap:checked+span:after {
  border: 2px solid #ee5b5b
}

[type="radio"]:not(:checked)+span,[type="radio"]:checked+span {
  color: #000000;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 2rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

[type="radio"]:not(:checked)+span:before,[type="radio"]:not(:checked)+span:after {
  border: 2px solid black;
  font-size: 20px;
}


.waves-effect.waves-light .waves-ripple {
  background-color: #ee5b5b;
}